.confirmOverlay {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.confirmContainer {
  position: absolute;
  z-index: 11;
}

.progress {
  height: 0.1rem;
  background-color: #fff;
  width: 21.1rem;
  position: absolute;
  left: 0;
}

.timedSwitch {
  height: 0.1rem;
  background-color: #fff;
  width: 5.55rem;
  position: absolute;
  left: 0;
}