p.chartTitle {
  font-size: 0.67rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  line-height: 1.75rem;
}

p.chartTitleIcon {
  padding-left: 1.55rem;
  background: url('/images/chart-icon.svg') no-repeat;
}

p.plantTitleIcon {
  padding-left: 1.55rem;
  background: url('/images/plant-icon.svg') no-repeat;
}

span.chartTitleText {
  position: relative;
  top: 0.4rem;
  color: #fff;
}

p.optimalLabel {
  font-size: 0.67rem;
  font-weight: 700;
  text-transform: none;
  text-align: right;
  color: #636366;
}

p.progressLabel {
  font-size: 0.67rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  color: #636366;
}

.healthPerformanceChart {
  align-items: center;
  gap: 0.2rem;
  position: relative;
  left: -2px;
}

.healthPerformanceChartHeader {
  gap: 0.5rem;
  padding-left: 4px;
  cursor: help;
}

.areaComparisonChart {
  margin-top: 8rem;
  align-items: center;
  gap: 0.2rem;
  position: relative;
  left: -2px;
}

.chartYAxisFloating {
  position: absolute;
  top: 0;
  left: 4px;
}

.chartXAxisFloating {
  position: absolute;
  bottom: 0;
  left: 4px;
  display: flex;
  width: 1072px;
}

.chartWideXAxisFloating {
  position: absolute;
  bottom: 0;
  left: 36px;
  display: flex;
  width: 1244px;
}

.areasChartWideXAxisFloating {
  position: absolute;
  bottom: 51px;
  left: 36px;
  display: flex;
  width: 1244px;
}

.expanderButton {
  position: absolute;
  top: -0.25rem;
  right: 0;
}

p.healthPerformanceChartHeaderText,
p.measuresPerformanceChartLabelText,
.chartYAxis p,
.chartXAxis p,
.chartYAxisFloating p,
.chartXAxisFloating p,
.chartWideXAxisFloating p,
.areasChartWideXAxisFloating p,
.latestDataPoint {
  font-weight: 700;
  font-size: 0.67rem;
  text-align: left;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

p.healthPerformanceChartHeaderText,
.chartYAxis p,
.chartYAxisFloating p,
.chartXAxisFloating p,
.chartWideXAxisFloating p,
.areasChartWideXAxisFloating p {
  color: #636366;
}

.chartXAxisFloating p,
.chartWideXAxisFloating p,
.areasChartWideXAxisFloating p {
  position: absolute;
}


.latestDataPoint {
  position: absolute;
}

p.healthPerformanceChartHeaderText {
  margin-bottom: 0.5rem;
}

.chartYAxis {
  margin-bottom: 0.25rem;
  padding-left: 4px;
}

p.chartYAxis90 {
  margin-top: 2.5rem;
}

p.chartYAxis20 {
  margin-top: 0.85rem;
}

p.chartYAxis0 {
  margin-top: 4.9rem;
}

.measuresChartLabelContent {
  justify-content: center;
  gap: 0.25rem 0.5rem;
  flex-wrap: wrap;
}

.measuresPerformanceChartLabelContainer {
  padding: 0 1rem;
  opacity: 0.95;
  border: 1px solid #1c1c1e;
  border-radius: 3px;
  cursor: pointer;
}

.measuresPerformanceChartLabelContainer:hover {
  border: 1px solid #000;
}

.measuresPerformanceChartLabelContainerFocus {
  padding: 0 1rem;
  opacity: 0.95;
  border: 1px solid #000;
  border-radius: 3px;
  cursor: pointer;
}

.measuresPerformanceChartLabelContainerActive {
  padding: 0 1rem;
  background-color: #3a3a3c;
  opacity: 0.95;
  border: 1px solid #f2f2f7;
  border-radius: 3px;
  cursor: pointer;
}

.measuresPerformanceChartLabel {
  gap: 0.5rem;
  align-items: center;
}

.measuresPerformanceChartLabelIcon {
  width: 14px;
  filter: invert(100%) sepia(3%) saturate(602%) hue-rotate(253deg) brightness(116%) contrast(100%);
}

.measuresPerformanceChartLabelIconNarrow {
  width: 10px;
  filter: invert(100%) sepia(3%) saturate(602%) hue-rotate(253deg) brightness(116%) contrast(100%);
}

.areasPerformanceChartLabelIcon {
  width: 24px;
}

p.measuresPerformanceChartLabelText {
  text-wrap: nowrap;
}

.measuresPerformanceChartLabelIndicator {
  align-items: center;
  gap: 0.5rem;
}

.measuresPerformanceChartLabelTick svg {
  margin-top: 7px;
}

.periodProgressUnderContainer {
  width: 68rem;
}

.periodProgressUnderContainer {
  margin: 0 auto 0.75rem auto;
}

.underContainer {
  justify-content: space-between;
  padding: 0 2rem;
}

.measureSelectorTitle {
  font-size: 0.67rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid #636366;
  margin-bottom: 0.5rem;
  letter-spacing: 0.05em;
  width: 90%;
}

.areaColumn {
  flex-grow: 1;
}

.areaSelectorTitle {
  font-size: 0.67rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  width: 90%;
}

.measureSelectorOptionLabel {
  font-size: 0.67rem;
  font-weight: 400;
  color: #fff;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid #636366;
  margin-bottom: 0.25rem;
  width: 90%;
  letter-spacing: 0.15em;
}

.measureSelectorButtons {
  justify-content: center;
  gap: 2.5rem;
  margin-top: 0.5rem;

}

.headingContainer {
  margin-left: 2rem;
}

.headingContainer > h2 {
  width: 30%;
}

.headingContainer > div {
  width: 63.25%;
}