.periodSelector {
  gap: 0.5rem;
  align-items: center;
}

.label,
.input,
.inputRange,
.dash,
.selectField select {
  text-transform: uppercase;
}

.input {
  padding: 0.1rem 0.2rem;
  width: 3.25rem;
  background-color: transparent;
  border: 1px solid #636366;
  border-radius: 3px;
}

.inputRange {
  padding: 0.1rem 0.2rem;
  width: 7.75rem;
  text-align: left; 
  background-color: transparent;
  border: 1px solid #636366;
  border-radius: 3px;
}

.selectField {
  position: relative;
  top: -2px;
}

.selectField label {
  display: none;
}

.selectField select{
  padding: 0.1rem;
  box-shadow: none;
  border-block-end-color: transparent;
}

.selectField select:focus {
  box-shadow: none;
  border-block-end-color: transparent;
}

.selectField select option:checked {  
  font-weight: 700;
}

.datePickerButtons {
  justify-content: center;
  gap: 3rem;
  padding: 0.5rem 0;
}