.mToggleButtonGroup {
  align-content: flex-end;
  gap: 2rem;
  width: auto;
  margin-right: 4rem;
}

.dToggleButtonGroup {
  align-content: flex-end;
  gap: 2.4rem;
  width: auto;
}

.toggleButton > img {
  width: 1.33rem;
  height: 1.33rem;
}

.toggleButton {
  background-color: transparent;
  border: 0;
  color: #fff;
  font-size: 0.675rem;
  text-transform: uppercase;
  opacity: 0.45;
}

.toggleButton:hover {
  background-color: transparent;
  border: 0;
  color: #fff;
  font-size: 0.675rem;
  text-transform: uppercase;
  opacity: 1;
}

.toggleButton[aria-pressed=true],
.toggleButton[aria-pressed=true]:hover:not(:disabled),
.toggleButton:active {
  background-color: transparent;
  border: 0;
  color: #fff;
  font-size: 0.675rem;
  text-transform: uppercase;
  opacity: 1;
}

.toggleButton:focus {
  box-shadow: none;
  background-color: transparent;
  border: 0;
}

.toggleButtonGroup .toggleButton:not(:last-of-type) {
  border-start-end-radius: 0;
  border-end-end-radius: 0;
}

.toggleButtonGroup .toggleButton:not(:first-of-type) {
  border-start-start-radius: 0;
  border-end-start-radius: 0;
}

.toggleButtonGroup .toggleButton:not(:first-of-type):not(:focus) {
  -webkit-border-start: 0;
  border-inline-start: 0;
}

.toggleButtonGroup .toggleButton:not(:first-of-type):not(:focus):hover {
  -webkit-border-start: 0;
  border-inline-start: 0;
}