.mTileLocationIdContainer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 1.75rem;
  z-index: 10;
}

.dTileLocationIdContainer {
  text-align: center;
}

.locationDurationText {
  color: #636366;
  font-size: 0.8rem;
  font-weight: 700;
}

.locationDurationCompletedText {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 700;
}

.mLocationText,
.dLocationText {
  line-height: 1.25rem;
  color: #fff;
  text-shadow: -1px 1px 0 #1c1c1e,
    1px 1px 0 #1c1c1e,
    1px -1px 0 #1c1c1e,
    -1px -1px 0 #1c1c1e
}

p.mLocationText {
  font-size: 1.8rem;
}

p.dLocationText {
  font-size: 1.115rem;
}

.mAlertText span {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 0.67rem;
  font-weight: 700;
  color: #3a3a3c;
  text-transform: uppercase;
  padding: 0.2rem 0;
  vertical-align: bottom;
  background-color: #fff;
  border-radius: 3px;
}

.dAlertText span {
  position: absolute;
  bottom: 0;
  left: 7%;
  display: inline-block;
  width: 86%;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 0.67rem;
  font-weight: 700;
  color: #3a3a3c;
  text-transform: uppercase;
  padding: 0.2rem 0 0.1rem 0;
  vertical-align: bottom;
  background-color: #f5d205;
  border: 2px solid #1c1c1e;
  border-radius: 3px;
}

.alertBadge {
  background-image: url('/images/water-fill.svg');
  position: absolute;
  top: 1.5rem;
  left: 5.2rem;
  width: 1.33rem;
  height: 1.33rem;
}