.locationTile {
  position: relative;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 0px 0px 31px rgba(58, 58, 60, 0.45);
  height: 5.46rem;
  padding: 0.2rem 1rem 0.5rem 1rem;
  cursor: pointer;
}

.locationIdContainer {
  width: 29%;
}

.mTileLocationIdContainer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 1.75rem;
  z-index: 10;
}

.dTileLocationIdContainer {
  text-align: center;
}

.locationText {
  line-height: 1rem;
}

p.locationText {
  font-size: 1.8rem;
}

.dTileLocationIdContainer p.locationText {
  line-height: 0.85rem;
  font-size: 0.67rem;
  font-weight: 700;
}