h2.rangeTitle {
  width: 10rem;
  margin-bottom: 0;
}

.loadingContainer {
  margin: 2rem 0;
  text-align: center;
}

.infoContainer {
  padding-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.infoContent {
  gap: 1rem;
}

.measurementContainer {
  flex-grow: 1;
  max-width: 28.65rem; 
  margin-right: 1.45rem;
  padding-left: 2.5rem;
}

.legendContainer {
  width: 14.5rem;
  padding-right: 2.95rem;
}

.growthCycleContainer {
  width: 20.75rem;
}

.growthCycleLabelContainer {
  margin-left: 1.45rem;
}

.measurementInfoContainer {
  padding-left: 2.5rem; 
}

.durationLabelsContainer {
  justify-content: space-between;
  padding-left: 1.45rem;
  padding-right: 1.64rem;
}

.indicesTabsContainer {
  width: 42.1rem;
  padding-left: 2.55rem;
}

p.locationDurationText {
  font-weight: 700;
  font-size: 0.67rem;
  text-align: left;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #636366;
}

p.locationDuration100PcText {
  font-weight: 700;
  font-size: 0.67rem;
  text-align: left;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #636366;
}

.spacer {
  width: 40rem;
  border-bottom: 1px solid #c4c4c4;
}

.locationContainer {
  margin: 1.1rem 0 0 0.1rem;
}

.locationCollection {
  margin-top: 1.3rem;
  margin-left: 2%
}

.mControlAreaCollectionListItem,
.dControlAreaCollectionListItem {
  width: 100%;
}

.mControlAreaCollectionTile {
  width: 9.05rem;
  height: 9.95rem;
}

.dControlAreaCollectionTile {
  width: 12.5%;
  height: 7.5rem;
  padding-top: 1rem;
  background-color: transparent;
  cursor: pointer;
}

.duration {
  margin-bottom: 1rem;
  margin-left: 1.45rem;
  gap: 0.3rem;
  align-items: center;
  flex-wrap: wrap;
}

.durationLabel {
  font-size: 0.67rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #fff;
}

@media screen and (min-width: 1136px) and (max-width: 1423px) {

  .legendContainer {
    width: 13.5rem;
    padding-right: 0.95rem;
  }

}