.loadingContainer {
  margin: 2rem 0;
  text-align: center;
}

.infoContainer {
  margin-top: 2.5rem;
  margin-bottom: 0;
}

.infoContent {
  justify-content: space-between;
}

.measurementContainer {
  margin-top: 2.5rem;
  padding-left: 2.5rem;
}

.growthCycleContainer {
  padding-right: 4rem;
}

.measurementInfoContainer {
  padding-left: 2.5rem; 
}

.locationContainer {
  margin: 1.1rem 0 0 0.1rem;
}

.locationCollection {
  margin-top: 1.3rem;
  margin-left: 2%;
  margin-bottom: 1.3rem;
}

.dLocationCollectionListItem {
  width: 100%;
}

.dLocationCollectionTile {
  width: 12.5%;
  height: 7.625rem;
  background-color: transparent;
  padding-top: 1rem;
  cursor: pointer;
}