.locationTile {
  position: relative;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  box-shadow: inset 0px 0px 31px rgba(58, 58, 60, 0.45);
  height: 5.46rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.dLocationIdContainer {
  width: 29%;
}

.dTileLocationIdContainer {
  text-align: center;
  cursor: pointer;
}

.locationText {
  line-height: 1rem;
}

p.locationText {
  font-size: 1.89rem;
}

.dTileLocationIdContainer p.locationText {
  line-height: 0.85rem;
  font-size: 0.67rem;
  font-weight: 700;
}