.dLocationIdContainer {
  width: 29%;
}

.dTileLocationIdContainer {
  text-align: center;
  cursor: pointer;
}

.locationDurationText {
  color: #fff;
}

.locationText {
  line-height: 1rem;
  color: #fff;
  text-shadow: -1px 1px 0 #1c1c1e,
    1px 1px 0 #1c1c1e,
    1px -1px 0 #1c1c1e,
    -1px -1px 0 #1c1c1e
}

.dTileLocationIdContainer .locationText {
  line-height: 1.25rem;
}

p.locationText {
  font-size: 1.89rem;
}

.dTileLocationIdContainer p.locationText {
  font-size: 1.115rem;
}