.locationTile {
  position: relative;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  width: 6.5rem;
  height: 6.5rem;
  padding: 0.2rem 1rem 0.5rem 1rem;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 5px;
}

.dLocationIdContainer {
  width: 29%;
}

.dTileLocationIdContainer {
  text-align: center;
  cursor: pointer;
}

.locationText {
  line-height: 1rem;
}

p.locationText {
  font-size: 1.89rem;
}

.dTileLocationIdContainer p.locationText {
  line-height: 0.85rem;
  font-size: 0.67rem;
  font-weight: 700;
}