.resultItem {
  padding: 0.6rem 1.8rem;
  border-radius: 3px;
  margin-bottom: 0.6rem;
}

.resultTile {
  text-align: center;
  cursor: pointer;
}

.active {
  background-color: #f5d205;
}

.resolving {
  background-color: #c4c4c4;
}

.ctaLeftContainer {
  width: 6%;
  cursor: pointer;
}

.resultIdContainer {
  width: 26%;
}

.tileResultIdContainer {
  width: 100%;
}

.resultMessageCtaLeftContainer {
  width: 52%;
}

.resultLocationLabelContainer {
  width: 14%;
}

.resultLocationIdContainer {
  width: 17%;
  text-align: right;
}

.resultText {
  color: #fff;
  text-transform: uppercase;
}

.resultLocationId {
  color: #fff;
  font-size: 1.9rem;
}
